<h1>Sign Up</h1>

<form action="/users/create" method="POST">
    <input type="text" name="name" placeholder="name" autocomplete="off" required>
    <input type="email" name="email" placeholder="Email" autocomplete="off" required>
    <input type="password" name="password" placeholder="Password" autocomplete="off" required>
    <input type="password" name="confirm_password" placeholder="Confirm Password" autocomplete="off" required>
    <input type="submit" value="signIn">
</form>