<link rel="stylesheet" href="/css/user_profile.css">
<body>
  <div class="container">
    <div class="header">
      <h1>Hi <%= comment.user.name%>!</h1>
    </div>
    <div class="content">
      <p>Hope you are doing well!</p>
      <p>Your comment <strong><%= comment.content %></strong> just got pubished on codeial.</p>
    </div>
    <div class="footer">
      <p>Contact us at: example@example.com</p>
    </div>
  </div>
</body>
</html>
